<table>
  <tr>
<td>
  <label>
    <input type="text" name="drawingnumber" placeholder="Drawing number"
           [(ngModel)]="processedPart.drawingNumber"
           (change)="updateProcessedPart()"
           class="input-label-lg"/>
  </label>
</td>

<td>

  <label>
    <input type="text" placeholder="Main process"
           [(ngModel)]="processedPart.mainProcess"
           (change)="updateProcessedPart()"
           class="input-label-lg"/>
  </label>
</td>

<td>
  <label>
    <input type="text" placeholder="Material"
           [(ngModel)]="processedPart.material"
           (change)="updateProcessedPart()"/>
  </label>
</td>

<td>
  <label>
    <input type="text" placeholder="Manufacturer"
           [(ngModel)]="processedPart.manufacturer"
           (change)="updateProcessedPart()"/>
  </label>
</td>

<td>
  <button type="button"
 (click)="deleteProcessedPart()" class="btn btn-warning">
    <i class="fas fa-trash"></i></button>

</td>
  </tr>
</table>
