table{
  table-layout:fixed;
  width:100%;
  border:5px;
}

table td {
  width:10%;
  text-align: center;
}

.input-label-lg {
  text-align: center;
}

.text-success{
  font-size: 0.8rem;
}

span{
  padding-left: 5px;
}
