<table>
  <tr>
<td>
  <label>
    <input type="text" name="drawingnumber" placeholder="Drawing number"
           [(ngModel)]="processedPart.drawingNumber"
           (change)="updateProcessedPart()"
           class="input-label-lg"/>
  </label>
</td>

<td>

  <label>
    <input type="text" placeholder="Main process"
           [(ngModel)]="processedPart.mainProcess"
           (change)="updateProcessedPart()"
           class="input-label-lg"/>
  </label>
</td>

<td>
  <label>
    <input type="text" placeholder="Material"
           [(ngModel)]="processedPart.material"
           (change)="updateProcessedPart()"/>
  </label>
</td>

<td>
  <label>
    <input type="text" placeholder="Manufacturer"
           [(ngModel)]="processedPart.manufacturer"
           (change)="updateProcessedPart()"/>
  </label>
</td>

    <td>
      <strong class="text-success" *ngIf="processedPart.partFinished == true">Ready since:{{processedPart.readinessOfPart | date:'dd-MM-yyy HH:mm'}}</strong>
      <strong class="text-danger" *ngIf="processedPart.partFinished == false">Part not ready</strong>
    </td>

<td>
  <button type="button"
 (click)="deleteProcessedPart()" class="btn btn-danger">
    <i class="fas fa-trash"></i></button>
  <button type="button"
          (click)="readinessOfProcessedPart()" class="btn btn-warning">
    <i class="fas fa-warehouse"></i></button>
  <button type="button"
          (click)="readinessOfProcessedPart()"  class="btn btn-success">
    <i class="fas fa-check-square"></i></button>
</td>
  </tr>
</table>
