<nav>
  <div class="middle">
    <div class="menu">

      <accordion [isAnimated]="true">

        <accordion-group [panelClass]="customClass">
          <a class="btn" accordion-heading><span>Projects</span></a>
          <li class="item"></li>
          <div class="smenu">
            <a [routerLink]="'project'">All projects</a>
            <a [routerLink]="'add'">Add project</a>
            <a [routerLink]="'findByNumber'">Find project</a>
          </div>
        </accordion-group>

        <accordion-group panelClass="customClass">
          <a class="btn" accordion-heading><span>Parts</span></a>
          <div class="smenu">
            <a [routerLink]="'processedParts'">Processed Parts</a>
            <a [routerLink]="'commercialParts'">Commercial Parts</a>
          </div>
        </accordion-group>

        <accordion-group panelClass="customClass">
          <a class="btn" accordion-heading><span>Manufacturers</span></a>
          <div class="smenu">
            <a href="#">Manufacturers</a>
            <a href="#">Sales Representatives</a>
          </div>
        </accordion-group>

      </accordion>

    </div>
  </div>
</nav>
