* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border-radius: 0;
}

.middle {
  position: absolute;
  display: inline-block;
  height: 90vh;
  background: #34495e;
  width: 250px;
  border-radius: 0;
}

.menu {
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
}

//.item {
//  overflow: hidden;
//  width: 300px;
//  margin-top: -20px;
//  margin-left: -20px;
//  border-top: 50px solid #3498db;
//  z-index: 10;
//  //overflow: hidden;
//}

.smenu {
  background: #34495e;
}

.smenu a {
  display: block;
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  margin: 4px 0;
  position: relative;
}

.smenu a:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  left: -20px;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.smenu a:hover:before {
  opacity: 1;
}

.item:target .smenu {
  max-height: 10em;
}

