back-end/HELP.md
target/
!back-end/.mvn/wrapper/maven-wrapper.jar
!back-end/src/main/**
!back-end/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
back-end/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
!/front-end/dist/
/front-end/out-tsc/
