<div class="container">
  <!-- Note menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-8">
      <input type="text"
             [(ngModel)]="searchText"
             class="form-control"
             style="width: 100%;"
             placeholder="Search parts...">
    </div>
    <div class="col-md-4">
      <button type="buton"
              (click)="createMechanicalProcessing()"
              class="btn btn-info pull-right"
              style="margin-left:12px;"><i class="fas fa-plus"></i> New mechanical processing list
      </button>
      <button type="button"
              (click)="createProcessedPart(selectedMechanicalProcessing.id)"
              [disabled]="selectedMechanicalProcessing == null"
              class="btn btn-warning pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New part
      </button>
    </div>

  </div>

  <!-- Parts content -->
  <div class="row" style="margin-top: 28px;">
    <!-- Mechanical processing list menu Menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <a (click)="selectAllProcessedParts()" class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;All
        </a>
        <!-- Mechanical Processing List -->
        <a *ngFor="let mechanicalProcess of mechanicalProcessings" (click)="selectMechanicalProcessing(mechanicalProcess)" class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;
          <input [(ngModel)]="mechanicalProcess.name" (change)="updateMechanicalProcessing(mechanicalProcess)" type="text" class="input-label" style="width: 80%"/>
          <a (click)="deleteMechanicalProcessing(mechanicalProcess)" class="pull-right text-danger">
            <i class="fas fa-trash"></i>
          </a>
        </a>
      </div>
    </div>

    <!-- Parts Panel -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <!-- Message if there are no parts -->
          <h3 *ngIf="selectedMechanicalProcessing != null">{{selectedMechanicalProcessing.name}}</h3>
          <h3 *ngIf="selectedMechanicalProcessing == null">All parts</h3>
          <p *ngIf="this.processedParts.length === 0">There are no parts to display in this list :(</p>
        </div>
        <table class="parts-table">

          <tr>
            <th>Drawing number</th>
            <th>Main process</th>
            <th>Material</th>
            <th>Manufacturer</th>
          </tr>
          <tr>
            <processed-part *ngFor="let n of processedParts | noteTextFilter:searchText"
                                      [processedPart]="n"
                                      (processedPartUpdated)="updateProcessedPart($event)"
                                      (processedPartDeleted)="deleteProcessedPart($event)">
            </processed-part> </tr>

        </table>
      </div>
    </div>
  </div>
</div>
