.container{

}

.processList{
  display: block;
  min-width: 220px;
  float: left;

}

.partsList{
  display: flex;
}


table{
  //display: inline-block;
  table-layout:fixed;
  width: 100%;
  border:1px;
}
table td {
  width:20%;
}

table th{
  width:20%;
}
