<div class="container">
    <div>
      <label>
      <input type="text"
             [(ngModel)]="nameSearch"
             class="form-control"
             placeholder="Search parts by name...">
      </label>

      <button type="buton"
              (click)="createMechanicalProcessing()"
              class="btn">
        <i class="fas fa-plus"></i> New processing list
      </button>


      <button type="button"
              (click)="createProcessedPart(selectedMechanicalProcessing.id)"
              [disabled]="selectedMechanicalProcessing == null"
              class="btn">
        <i class="fa fa-plus"></i> New part
      </button>
    </div>

    <div>
      <label for="dd" class="text-title">Search by main process</label>
      <select id="dd" [(ngModel)]="mainProcessSearch" class="custom-select" (change)="filterPartsByProcessingType($event.target)">
        <option [value]="undefined" selected disabled hidden>Pick one of the options available</option>
        <option *ngFor="let fos of processedParts" value={{fos.mainProcess}}>
          {{fos.mainProcess}}
        </option>
      </select>
    </div>

  </div>


  <div class="partsContent">
  <div class="processList">

    <div>
      <h3>Processing lists</h3>
      <br>
      <div class="list-group list-group-flush">
        <a (click)="selectAllProcessedParts()" class="list-group-item list-group-item-action">
          <b>All parts</b>
        </a>
        <a *ngFor="let mechanicalProcess of mechanicalProceedings"
           (click)="selectMechanicalProcessing(mechanicalProcess)" class="list-group-item list-group-item-action">

          <label>
          <input [(ngModel)]="mechanicalProcess.name" (change)="updateMechanicalProcessing(mechanicalProcess)"
                 type="text" class="input-label" style="width: 150px"/>
          </label>
          <a (click)="deleteMechanicalProcessing(mechanicalProcess)" class="pull-right text-danger">
            <i class="fas fa-trash"></i>
          </a>
        </a>
      </div>
    </div>
  </div>


    <div class="partsList">
      <div>

        <div>
          <h3 *ngIf="selectedMechanicalProcessing != null">Processing list name: {{selectedMechanicalProcessing.name}}</h3>
          <h3 *ngIf="selectedMechanicalProcessing == null">All parts</h3>
          <p *ngIf="this.processedParts.length === 0">There are no parts to display in this list</p>
        </div>

        <div>
        <table *ngIf="this.processedParts.length != 0">
          <tr>
            <th>Drawing number</th>
            <th>Main process</th>
            <th>Material</th>
            <th>Manufacturer</th>
            <th>Date of availability</th>
            <th>Actions</th>
          </tr>
        </table>
        </div>

        <div>
          <div *ngFor="let n of processedParts | ProcessedPartDwgNumberFilter:mainProcessSearch: nameSearch">
            <processed-part
                            [processedPart]="n"
                            (processedPartUpdated)="updateProcessedPart($event)"
                            (processedPartDeleted)="deleteProcessedPart($event)">
            </processed-part>
          </div>
        </div>
      </div>


      </div>
    </div>
