.custom-select select {
  display: none;
}

.project-select {
  display: inline-block;
}

.processList{
  display: block;
  min-width: 400px;
  float: left;

}

.partsList{
  display: block;
  padding-left: 100px;
}

.partsContent{
  display: flex;
  padding-top: 20px;
  padding-left: 40px;
}


table{
  //display: inline-block;
  table-layout:fixed;
  width: 100%;
  border:1px;
}
table td {
  width:20%;
}

table th{
  width:20%;
}

.titleTable{

  th{
    text-align: center;
  }
}
