<div class="container">

  <div>
    <label>
      <input type="text"
             [(ngModel)]="nameOrOrderSymbolSearch"
             class="form-control"
             placeholder="Search parts...">
    </label>

    <button type="buton"
            (click)="createPartsOrder()"
            class="btn"><i class="fas fa-plus"></i> New parts order list
    </button>

    <button type="button"
            (click)="createCommercialPart(selectedPartsOrder.id)"
            [disabled]="selectedPartsOrder == null"
            class="btn"><i class="fa fa-plus"></i> New part
    </button>

    <button type="button"
            (click)="generateInvoice()"
            [disabled]="this.selectedCommercialParts.length === 0"
            class="btn-invoice"><i class="fas fa-file-invoice-dollar"></i> Generate invoce from selected parts
    </button>
  </div>

  <div>
    <mat-form-field>
    <mat-label>Search by manufacturer</mat-label>
    <mat-select [(ngModel)]="manufacturerSearch">
<!--      <mat-option [value]="undefined" disabled hidden>Pick one of the options available</mat-option>-->
      <mat-option [value]="undefined">All parts</mat-option>
      <mat-option *ngFor="let commercialPart of commercialParts | duplicateFilter" [value]='commercialPart.manufacturer'>
        {{commercialPart.manufacturer}}
      </mat-option>
    </mat-select>
    </mat-form-field>
  <button type="button"
          (click)="generateInvoiceForSpecifiedManufacturer(manufacturerSearch)"
          [disabled]="this.manufacturerSearch == null || manufacturerSearch === 'UNASSIGNED'"
          class="btn-invoice-manufacturer">
    <span>
      <span *ngIf="manufacturerSearch == null || manufacturerSearch === 'UNASSIGNED'">Select specified Manufacturer</span>
      <span *ngIf="manufacturerSearch != null && manufacturerSearch != 'UNASSIGNED'"> Generate invoice for {{manufacturerSearch}}</span>
    </span>
  </button>
</div>
</div>

<div class="partsContent">
  <div class="processList">

    <div>
      <h3>Commercial Parts</h3>
      <br>
      <div class="list-group list-group-flush">
        <a (click)="selectAllCommercialParts()" class="list-group-item list-group-item-action">
          All parts
        </a>
        <a *ngFor="let partsOrder of partsOrders"
           (click)="selectPartsOrder(partsOrder)" class="list-group-item list-group-item-action">
          &nbsp;
          <select class="project-select" [(ngModel)]="partsOrder.projectId" (change)="updatePartsOrder(partsOrder)">
            <option [ngValue]="null" selected disabled hidden>Please specify project</option>
<!--            <option *ngFor="let project of projects" value={{project.id}}>-->
<!--              {{project.name}}-->
<!--            </option>-->
            <ng-container *ngFor="let project of projects">
              <option [value]="project.id" *ngIf="project.partsOrder == null">{{project.name}}</option>
            </ng-container>
          </select>
          <label>
            <input [(ngModel)]="partsOrder.name" (change)="updatePartsOrder(partsOrder)"
                   type="text" class="input-label" style="width: 150px"/>
          </label>
          <a (click)="deletePartsOrder(partsOrder)" class="pull-right text-danger">
            <i class="fas fa-trash"></i>
          </a>
        </a>
      </div>
    </div>
  </div>

  <!-- Parts Panel -->
  <div class="partsList">
    <div>
      <div>
        <h3 *ngIf="selectedPartsOrder != null">{{selectedPartsOrder.name}}</h3>
        <h3 *ngIf="selectedPartsOrder == null">All parts</h3>
        <p *ngIf="this.partsOrders.length === 0">There are no parts to display in this list</p>
      </div>

      <div>
        <table class="titleTable" *ngIf="this.commercialParts.length != 0">
          <tr>
            <th>Type</th>
            <th>Order Symbol</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Order Date</th>
            <th>Expected delivery date</th>
            <th>Price</th>
            <th>Manufacturer</th>
            <th>Actions</th>
          </tr>
        </table>

        <div *ngFor="let n of commercialParts | commercialPartFilter:nameOrOrderSymbolSearch: manufacturerSearch">
          <commercial-part
            [commercialPart]="n"
            (commercialPartUpdated)="updateCommercialParts($event)"
            (commercialPartDeleted)="deleteCommercialPart($event)">
          </commercial-part>
        </div>
      </div>
    </div>
  </div>
</div>


