<div *ngIf="project">
  <div>
    <label><b>Name:</b> </label> {{project.name}}
  </div>
  <div>
    <label><b>Id:</b></label> {{project.id}}
  </div>
  <div>
    <label><b>Project Number:</b></label> {{project.projectNumber}}
  </div>
  <div>
    <label><b>Budget:</b></label> {{project.budget}}
  </div>
  <div>
    <label><b>Mechanical Processing List:</b></label> {{project.mechanicalProcessing}}
  </div>
  <div>
    <label><b>Commercial Parts List:</b></label> {{project.partsOrder}}
  </div>
  <div>
    <label><b>Project Start Date:</b></label> {{project.projectStartDate | date:'dd-MM-yyy'}}
  </div>
  <div>
    <label><b>Project End Date:</b></label> {{project.projectEndDate | date:'dd-MM-yyy'}}
  </div>
  <div>
    <label><b>Assembling Date :</b></label> {{project.projectAssemblingDate | date:'dd-MM-yyy'}}
  </div>


  <span class="button is-small btn-danger" (click)='deleteProject()'>Delete</span>

  <hr/>
</div>
