table{
  table-layout:fixed;
  width:100%;
  //border:10px;
}

table td {
  //width:10%;
  text-align: center;
}

.input-label-lg{
  text-align: center;
  width: 100px;
  border: none;
}

.order-date{
  text-align: right;
  width: 100px;
  font-size: 20px;
  color: red;
}



//.text-success{
//  border: #3498db 5px;
//  text-align: center;
//}
