<table>
  <tr>
<!--  <td>-->
<!--      <label>-->
<!--        <input type="text" name="type" placeholder="Type"-->
<!--               [(ngModel)]="commercialPart.type"-->
<!--               (change)="updateCommercialPart()"-->
<!--               class="input-label-lg"/>-->
<!--      </label>-->
<!--    </td>-->
    <td>
      <label>
        <select class="form-control" [(ngModel)]="commercialPart.type" (ngModelChange)="updateCommercialPart()">
          <option *ngFor="let commercialPartType  of commercialPartsTypes"   value={{commercialPartType}}>
            {{commercialPartType}}
          </option>
        </select>
      </label>
    </td>

    <td>
      <label>
        <input type="text" placeholder="Order Symbol"
               [(ngModel)]="commercialPart.orderSymbol"
               (change)="updateCommercialPart()"
               class="input-label-lg"/>
      </label>
    </td>

    <td>
      <label>
        <input type="text" placeholder="Name"
               [(ngModel)]="commercialPart.name"
               (change)="updateCommercialPart()"
               class="input-label-lg"/>
      </label>
    </td>

    <td>
      <label>
        <input type="text" placeholder="Quantity"
               [(ngModel)]="commercialPart.quantity"
               (change)="updateCommercialPart()"
               class="input-label-lg"/>
      </label>
    </td>

    <td>
      <span class="order-date">
        {{commercialPart.orderDate | date:'dd-MM-yyy'}}
      </span>
    </td>

    <td>
<!--      <label>-->
<!--        <input type="date" placeholder="deliveryDate"-->
<!--               [(ngModel)]="commercialPart.deliveryDate"-->
<!--               (change)="updateCommercialPart()"-->
<!--               class="input-label-lg"/>-->
<!--      </label>-->
      <span class="delivery-date">
        {{commercialPart.deliveryDate | date:'dd-MM-yyy'}}
      </span>
    </td>

    <td>
      <label>
        <input type="text" placeholder="price"
               [(ngModel)]="commercialPart.price"
               (change)="updateCommercialPart()"
               class="input-label-lg"/>
      </label>
    </td>

    <td>
      <label>
        <select class="form-control" [(ngModel)]="commercialPart.manufacturer" (ngModelChange)="updateCommercialPart()">
          <option *ngFor="let manufacturer of manufacturers" value={{manufacturer.name}}>
            {{manufacturer.name}}
          </option>
        </select>
      </label>
    </td>

    <td>
      <span>
        {{commercialPart.invoiceId}}
      </span>
    </td>



    <td>
      <span>
      <button type="button" title="Delete part"
              (click)="deleteCommercialPart()" class="btn-delete">
        <i class="fas fa-trash"></i></button>
      </span>
      <span>
      <mat-checkbox  title="Check part"  [disabled]="commercialPart.invoiceId != null"
                     [(ngModel)]="commercialPart.checked" (change)="updateCommercialPart()">
      </mat-checkbox>
      </span>
    </td>
  </tr>
</table>
<div class="border"></div>

