<div class="navbar bg-dark text-light">
  <div class="btn-lg text-warning title">
    <a [routerLink]="'/'" class="text-reset" >
      <i class="fas fa-cogs"></i>
      Mechanical Manger
    </a>

  </div>

  <div class="spacer"></div>
  <div [routerLink]="'project'" class="btn btn-outline-warning">
    Projects
  </div>

  <div class="ml-3"></div>
  <div [routerLink]="'add'" class="btn btn-outline-warning">
    Add new project
  </div>

  <div class="ml-3"></div>
  <div [routerLink]="'findByNumber'" class="btn btn-outline-warning">
    Find project
  </div>

  <div class="ml-3"></div>
  <div [routerLink]="'processedParts'" class="btn btn-outline-warning">
    Processed parts lists
  </div>

  <div class="ml-3"></div>
  <div [routerLink]="'about'" class="btn btn-outline-warning">
    About application
  </div>

  <div class="ml-3"></div>
  <div [routerLink]="'commercialParts'" class="btn btn-outline-warning">
    Commercial Parts
  </div>


</div>

