<div class="container">
<!--  <div>-->
<!--    <label>-->
<!--      <input type="text"-->
<!--             [(ngModel)]="nameSearch"-->
<!--             class="form-control"-->
<!--             placeholder="Search parts by name...">-->
<!--    </label>-->
<!--    <button type="button"-->
<!--            (click)="createSalesRepresentative(selectedManufacturer.id)"-->
<!--            [disabled]="selectedManufacturer == null || this.salesRepresentatives.length != 0"-->
<!--            class="btn">-->
<!--      <i class="fa fa-plus"></i>Add sales representative-->
<!--    </button>-->
<!--  </div>-->


<!--  <div>-->
<!--    <label for="searchingByManufacturer" class="text-title">Search by main process</label>-->
<!--    <select id="searchingByManufacturer" [(ngModel)]="manufacturerSearch" class="custom-select"-->
<!--            (change)="filterSalesRepresentativesByManufacturer($event.target)">-->
<!--      <option [ngValue]="undefined" selected disabled hidden>Pick one of the options available</option>-->
<!--      <option [ngValue]="undefined">All manufacturers</option>-->
<!--      <option *ngFor="let salesRepresentative of salesRepresentatives" [value]='salesRepresentative.manufacturerId'>-->
<!--        {{salesRepresentative.manufacturerId}}-->
<!--      </option>-->
<!--    </select>-->
<!--  </div>-->
</div>


<div class="partsContent">
  <div class="processList">
    <div class="manufacturer-list">
      <h3>Manufacturers</h3>
      <button type="buton" title="Add new manufacturer"
              (click)="createManufacturer()"
              class="btn-add">
        <span><i class="fas fa-plus"></i></span>Add
      </button>
      <br>
      <div class="list-group list-group-flush">
        <a (click)="selectAllSalesRepresentatives()" class="list-group-item list-group-item-action">
          <b>ALL SALES REPRESENTATIVES</b>
        </a>
        <a (click)="selectUnassignedManufacturer()" class="list-group-item list-group-item-action">
          <b>UNASSIGNED</b>
        </a>

        <a *ngFor="let manufacturer of manufacturers | slice:1"
           (click)="selectManufacturer(manufacturer)" class="list-group-item list-group-item-action">

          <label>
            <input [(ngModel)]="manufacturer.name" (change)="updateManufacturer(manufacturer)"
                   type="text" class="input-label" style="width: 150px"/>
          </label>
          <a (click)="deleteManufacturer(manufacturer)" class="pull-right text-danger">
            <i class="fas fa-trash"></i>
          </a>
        </a>
      </div>
    </div>
  </div>


  <div class="partsList">
    <div>
      <div>
        <h3 *ngIf="selectedManufacturer != null">Manufacturer list
          name: {{selectedManufacturer.name}}</h3>
        <div *ngIf="selectedManufacturer == null"><h3>All sales representatives</h3>
          <label class="filter-byName">
            <input type="text"
                   [(ngModel)]="nameSearch"
                   class="form-control"
                   placeholder="Filter sales prepresentatives by Last Name">
          </label>
        </div>
        <p *ngIf="this.salesRepresentatives.length === 0">There are no sales representative for this manufacturer. Do you want to
          <button type="button"
                  (click)="createSalesRepresentative(selectedManufacturer.id)"
                  [disabled]="selectedManufacturer == null || this.salesRepresentatives.length != 0"
                  class="btn">
            <span class="green"><i class="fa fa-plus"></i>Add sales representative</span>
          </button></p>
      </div>
      <div>
        <table *ngIf="this.salesRepresentatives.length != 0">
          <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Actions</th>
          </tr>
        </table>
      </div>

      <div>
        <div *ngFor="let n of salesRepresentatives | salesRepresentativeFilter:manufacturerSearch: nameSearch">
          <sales-representatives
            [salesRepresentative]="n"
            (salesRepresentativeUpdated)="updateSalesRepresentative($event)"
            (salesRepresentativeDeleted)="deleteSalesRepresentative($event)">
          </sales-representatives>
        </div>
      </div>
    </div>


  </div>
</div>
